In [1]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [2]:
# total number of actions
df['action'].shape[0]

8188

In [3]:
# number of unique users
df['id'].nunique()

6328

In [20]:
# size of control group and experiment group

df_experiment = df.query('group=="experiment"').groupby('id').nunique()
df_experiment.shape

(2996, 4)

In [21]:
df_control = df.query('group=="control"').groupby('id').nunique()
df_control.shape[0]

3332

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [24]:
# duration of this experiment
pd.to_datetime(df['timestamp'][8187])-pd.to_datetime(df['timestamp'][0])

Timedelta('115 days 16:41:40.789831')

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [28]:
# action types in this experiment
df['action'].nunique()

2

In [33]:
df['action'].unique()

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Answer
- The control and experiment pages could have different numbers of total visitors

- More total clicks could occur in one version, even if there is a greater percentage of clicks in the other version.

### 5. Define the click through rate (CTR) for this experiment.

Answer
- The number of unique visitors who click at least once divided by the number of unique visitors who view the page

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

- $$H_0: $$ $CTR_{new}$ - $CTR_{old} <= 0

- $$H_1: $$ $CTR_{new}$ - $CTR_{old} > 0